@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*---------- Header ----------*/
header{
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5vw;
    background-color: #fff;
    z-index: 100;
    transition: all 0.7s ease
}

/*header style on scroll down*/
header.fixed{
    background-color: #94e6aad8;
    position: fixed;
}

/*logo*/
header h1 > a{
    text-decoration: none;
    color: #000;
}

/*nav*/
header ul{
    display: flex;
    align-items: center;
    gap: 2vw;
    list-style: none;
}

header ul li{
    transition: all 0.6s ease;
}

header ul a{
    font-size: 1.1rem;
    text-decoration: none;
    color: #000;
    transition: all 0.6s ease;
}

header ul li:hover{
    transform: scale(1.1);
}

header ul a:hover{
    text-decoration: underline;
}

/*menu button shown on small screens*/
#burger-menu{
    font-size: 2rem;
    padding: 10px;
    border: 0;
    color: #000;
    background-color: rgba(255, 255, 255, 0);
    display: none;
}


/*---------- Hero section ----------*/
#hero-section{
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*image container*/
#hero-image{
    width: 50%;
    height: 100%;
}

/*actual image*/
#hero-image img{
    width: 100%;
    height: 100%;
}

/*hero text base container*/
#hero-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 100%;
    padding-bottom: 7%;
}

/*hero text sub-container*/
#hero-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*big title*/
#hero-content h1{
    font-size: 3.5rem;
    text-align: center;
}

/*sub-title*/
#hero-content p{
    margin-top: 1rem;
    font-size: 2rem;
}

/*learn more button*/
#hero-button{
    border-radius: 10px;
    background-color: #BEEECB;
    color: #000;
    text-decoration: none;
    margin-top: 1rem;
    padding: 10px 15px;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

#hero-button:hover{
    background-color: #94e6aa;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.171);
}


/*---------- Steps section ----------*/
#steps-section{
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*section title*/
#steps-section h3{
    font-size: 2rem;
    border-bottom: 2px solid #000;
}

#steps-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    gap: 3vh;
}

/*each step*/
.step{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1%;
}

/*step number*/
.step-num{
    background-color: #94e6aa;
    border-radius: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    min-width: 40px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*step descriptioon*/
.step-txt{
    font-size: 1.4rem;
}

/*all steps*/
#step1{
    margin-left: 15vw;
}
#step2{
    margin-left: 20vw;
}
#step3{
    margin-left: 25vw;
}
#step4{
    margin-left: 30vw;
}
#step5{
    margin-left: 35vw;
}


/*---------- Prices section ----------*/
#pricing-section{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5vw;
    width: 100vw;
}

/*pricing section title*/
#pricing-section h3{
    font-size: 2rem;
    border-bottom: 2px solid #000;
}
/*prices cards container*/
#prices-container{
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    gap: 3%;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

/*price cards*/
.price-card{
    background-color: #BEEECB;
    opacity: 100%;
    border-radius: 15px 15px 5px 5px;
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 3px 3px 7px grey;
    transition: all 0.3s ease;
    min-width: 300px;
    padding-bottom: 2vh;
    
}

.price-card:hover{
    box-shadow: 5px 5px 10px #94e6aa;
}

/*card title (price location)*/
.price-card h4{
    font-size: 1.5rem;
    font-weight: normal;
    text-decoration: none;
    padding: 5%;
    border-bottom: 1px solid #000;
}

/*the actual price*/
.price-card .price{
    font-size: 2.5rem;
    font-weight: bold;
}

/*features list*/
.price-card ul{
    margin-top: 5%;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

/*subscribe button*/
.price-card button{
    margin-top: 2vh;
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.3s ease;
}

.price-card button:hover{
    background-color: #94e6aa;
    transform: scale(1.1);
}


/*---------- Contact form ----------*/
#contact-section{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5vw;
    width: 100vw;
}

/*contact section title*/
#contact-section h3{
    font-size: 2rem;
    border-bottom: 2px solid #000;
}

/*form container (the box)*/
#input-box{
    margin-top: 2vh;
    width: 50vw;
    background-color: #BEEECB;
    border-radius: 10px 10px 0 0;
    padding: 2% 5%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/*container of a label and an input*/
.input-container{
    display: flex;
    flex-direction: column;
}

.input-container label{
    font-size: 1.1rem;
}

.input-container input{
    padding: 1%;
    font-size: 1rem;
}

.input-container textarea{
    padding: 1%;
    font-size: 1rem;
}


/*---------- Footer section ----------*/
footer{
    width: 100%;
    margin-top: 5vh;
    background-color: #BEEECB;
    padding: 1vh;
}


/*---------- Media queries ----------*/
@media (max-width: 1150px){
    html{
        font-size: 15px;
    }
    #hero-section h1{
        font-size: 3rem;
    }
}

@media (max-width: 1065px){
    .price-card{
        margin-top: 2vh;
    }
}

@media (max-width: 1000px){
    html{
        font-size: 13px;
    }

}

@media (max-width: 900px){
    #hero-section{
        flex-direction: column;
        justify-content: center;
    }
    
    #hero-content{
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    #hero-content{
        width: 100%;
        justify-content: center;
    }

}

@media (max-width: 750px){
    html{
        font-size: 12px
    }

    header ul{
        position: fixed;
        top: -100%;
        transition: all 0.5s ease;
    }

    header ul.shown{
        display: flex;
        flex-direction: column;
        background-color: #94e6aabe;
        position: absolute;
        top: 5vh;
        left: 0;
        width: 100%;
    }


    #burger-menu{
        display: flex;
    }

    #hero-image{
        width: 70%;
    }

    #prices-container{
        flex-direction: column;
    }

    .price-card{
        width: 50%;
    }

    #step1{
        margin-left: 0;
    }
    #step2{
        margin-left: 0;
    }
    #step3{
        margin-left: 0;
    }
    #step4{
        margin-left: 0;
    }
    #step5{
        margin-left: 0;
    }

    #input-box{
        width: 80vw;
    }
}

@media (max-width: 450px){
    #hero-image{
        width: 100%;
    }
}